<app-pop-up [showAction]='showAction' [primaryButton]='primaryButtonName' [title]='addModalTitle' (cancelEvent)="onCancel()">
    <section>
        <div>
            <a href="">Clear All</a>
            <a style="margin-left: 15px;" href="">Remove All</a>
        </div>
        <div class="row" *ngFor="let filterRow of filterList">
            <select style="height:30px;margin-right: 15px;" name="list" id="filterRow" [(ngModel)]="tenantSelected"
                (change)="tenantChange()">
                <option value="1">
                    Select dropdown</option>
                <option *ngFor="let tenant of tenantList">
                    {{tenant.name}}</option>
            </select>
            <select style="height:30px;margin-right: 15px;" name="list" [(ngModel)]="tenantSelected"
                (change)="modelChange()">
                <option value="1">
                    Select dropdown</option>
                <option *ngFor="let tenant of tenantList">
                    {{tenant.name}}</option>
            </select>
            <select style="height:30px;margin-right: 15px;" name="list" [(ngModel)]="tenantSelected"
                (change)="typeChange()">
                <option value="1">
                    Select dropdown</option>
                <option *ngFor="let tenant of tenantList">
                    {{tenant.name}}</option>
            </select>
            <div style="height:30px;margin-right: 15px;" id="checkbox-traditional-form" class="ot-form-control">
                <div class="ot-checkbox-group">
                    <div class="ot-checkbox-options">
                        <label class="ot-checkbox">
                            <input type="checkbox" name="cb51" value="c1">
                            <div class="ot-checkbox__wrapper">
                                <span class="ot-checkbox__icon">
                                </span>
                                <span class="ot-checkbox__text">
                                    Add NOT Condition</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <i style="margin-top:13px;" class="fa fa-plus" aria-hidden="true" (click)="addFilter()"></i>
            <i style="margin-top:13px;" class="fa fa-close" aria-hidden="true" (click)="removeFilter($index)"></i>
        </div>
    </section>
</app-pop-up>