<app-pop-up [showAction]='showAction' [size]="size" [primaryButton]='primaryButtonName' [title]='addModalTitle' (cancelEvent)="onCancel()" (onAction)="applyFilter()">
    <div class="main-container" >
        <div>
            <a (click)="clearAll()">Clear All</a>
            <a style="margin-left: 15px;" (click)="removeAll()" >Remove All</a>
        </div>
        <div class="filter-wrapper" style="margin-bottom: 2px;" *ngFor="let filterRow of activeFilters,let i = index">
            <div class="filter-container">

            <ot-select-dropdown class="select-dropdown filter-input"  appendTo="body" id="attr-{{i}}" [options]='filterAttributes' [(ngModel)]="filterRow.attribute" (onChange)="attrChange(i, $event)"  optionLabel="name">
                </ot-select-dropdown>

            <ot-select-dropdown class="select-dropdown filter-input" appendTo="body" id="operator-{{i}}" [options]='operators' [(ngModel)]="filterRow.operator" (onChange)="operatorChange(i, $event)"  optionLabel="name">
                </ot-select-dropdown>

            <input *ngIf="!filterRow.type" class="ot-form-control filter-input" id="value-{{i}}" type="text" placeholder="" [(ngModel)]="filterRow.queryText" (change)="updateNestedData(i, $event)" >
            <!-- <div *ngIf="filterRow.type === 'dropdown'">
                <ot-select-dropdown class="select-dropdown col-sm-2" appendTo="body" id="operator-{{i}}" [options]='getNestedInfo(filterRow)' [(ngModel)]="filterRow.operator" (onChange)="operatorChange(i, $event)" >
                        <input class="ot-form-control col-sm-3" id="value-{{i}}" type="text" placeholder="" [(ngModel)]="filterRow.queryText" (change)="updateNestedData(i, $event)" >
                </ot-select-dropdown>
            </div> -->
            <div *ngIf="filterRow.type === 'dropdown'" >
                <select class=" filter-input" name="list" id="model-list" [disabled]="onDisable" (change)="operatorChange(i,$event)"
                    [ngModel]="filterRow[operator]">
                    <option value="1">Select dropdown</option>
                    <option *ngFor="let val of getNestedInfo(filterRow)" [ngValue]="filterRow[operator]">
                        {{val}}</option>
                </select>
            </div>
            <div style="height:30px;margin-right: 15px;" id="checkbox-traditional-form" class="ot-form-control filter-input">
                <div class="ot-checkbox-group">
                    <div class="ot-checkbox-options">
                        <label class="ot-checkbox">
                            <input type="checkbox" id="andop-{{i}}" (change)="andOperation(i,$event)" [(ngModel)]="filterRow.arr">
                            <div class="ot-checkbox__wrapper">
                                <span class="ot-checkbox__icon">
                                </span>
                                <span class="ot-checkbox__text">
                                    Add NOT Condition</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <i style="margin-top:13px;color:#0072aa;cursor: pointer;" class="col-sm-1 fa fa-plus-square" aria-hidden="true" (click)="addNewFilter()"></i>
            </div>
            <i style="margin:15px;cursor: pointer;" *ngIf="activeFilters.length > 1" class="fa fa-close remove-filter" aria-hidden="true" (click)="removeFilter(i)"></i>
            <!-- </div> -->
        </div>
    </div>
</app-pop-up>
<app-notification *ngIf="isLoading" ></app-notification>