registry=https://artifactory.otxlab.net/artifactory/api/npm/npm-remote
registry=http://artifactory.opentext.net/artifactory/api/npm/npm_virt/
@types:registry=https://artifactory.otxlab.net/artifactory/api/npm/npm-remote
@opentext:registry=https://artifactory.otxlab.net:443/artifactory/api/npm/ot-apps-team-npm/
