registry=https://artifactory.otxlab.net/artifactory/api/npm/npm-remote
@types:registry=https://artifactory.otxlab.net/artifactory/api/npm/npm-remote
@opentext:registry=https://artifactory.otxlab.net:443/artifactory/api/npm/ot-apps-team-npm/
