<app-pop-up [showAction]='showAction' [primaryButton]='primaryButtonName' [title]='addModalTitle' (cancelEvent)="onCancel()">
    <input type="text" maxlength="5000" [(ngModel)]="importData.name" placeholder="Please enter a unique Component Name">
    <div style="color: red;">
        {{ typeErrorMessage }}
    </div>
    <div>
        <div style="color: green">
            {{ typeErrorMessage }}
        </div>
        <div style="margin-bottom : 1em">
            Upload .csv file
        </div>
        <input type="file" class="btn btn-primary" (change)="onUploadChange($event)" value="Upload .csv files">
    </div>
    <div style="color: red;">
        {{ errorMessage }}
    </div>
</app-pop-up>