<div style="text-align: center;">
<div id="inline-error" class="ot-message ot-message--is-error">
    <div class="ot-message__banner">
        <p class="title">
            3 of 5 selected orders could not be processed. View <a>details</a>
        </p>
    </div>
</div>
<div id="inline-warning" class="ot-message ot-message--is-warning">
    <div class="ot-message__banner">
        <p class="title">
            5 selected orders were rejected. View <a>details</a>
        </p>
    </div>
</div>
<div id="inline-success" class="ot-message ot-message--is-success">
    <div class="ot-message__banner">
        <p class="title">Document was added successfully</p>
    </div>
</div>
</div>