<header class="ot-header">
    <a href="#" class="ot-header__brand">
      <img alt="OT2" src="assets/logo.c6528c4e.svg" title="OpenText" class="ot-header__logo">
      <div class="ot-header__name">
        DataSteward UI</div>
    </a>
    <div class="ot-header__actions">
      <button class="ot-btn ot-header__item ot-header__item--is-profile-image">
        <span class="ot-header__icon ot-header__icon">
          <img alt="" src="assets/user_profile.png">
        </span>
      </button>
    </div>
  </header>
<!-- <app-notification *ngIf="isLoading" ></app-notification> -->
<div class="row" style="height: 63px;margin-left: 15px;">
    <div class="col-sm-2" style="height: 80px;border-right: 1px solid lightgray;">
        <div class="ot-form-control" style="padding: 2px;">
            <label for="select-list">
                {{'TENANT' | translate }}</label><label *ngIf="headerObj.tenantSelected && headerObj.tenantSelected.companyName" class="display-tenant">{{headerObj.tenantSelected.companyName}}</label>
            <div class="ot-select">
                <select name="list" id="tenant-list"  [(ngModel)]="headerObj.tenantSelected" (change)="tenantChange()">
                    <option *ngFor="let tenant of tenantList">
                        {{tenant.companyName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2"  style="height: 80px;border-right: 1px solid lightgray;">
        <div class="ot-form-control" style="padding: 2px;">
            <label for="select-list">
                    {{'MODEL' | translate }}</label>
            <div class="ot-select">
                <select name="list" id="model-list"  [(ngModel)]="headerObj.modelSelected" (change)="modelChange()">
                        <option *ngFor="let model of modelList">
                            {{model.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2"  style="height: 80px;border-right: 1px solid lightgray;">
        <div class="ot-form-control" style="padding: 2px;">
            <label for="select-list">
                {{'COMPONENT' | translate }}</label>
            <div class="ot-select">
                <select name="list" id="comp-list" [(ngModel)]="headerObj.typeSelected" (change)="typeChange()">
                        <option *ngFor="let type of typeList" [ngValue]="type">
                            {{type.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="float: right;margin-right: 15px;display: flex;">
            <div *ngIf="headerObj.typeSelected" style="padding: 25px 10px;cursor: pointer;" (click)="popupEvent('filter')">
                <i class="fa fa-filter" title="Filter" aria-hidden="true"></i>
                <i *ngIf="store.filters.length" class="fa fa-exclamation-circle" style="color: red;" aria-hidden="true"></i>
            </div>
            <div *ngIf="headerObj['typeSelected']['id'] && !isReadOnly && userAddable" style="padding: 25px 10px;cursor: pointer;">
                <i class="fa fa-plus" title="Create" aria-hidden="true" (click)="popupEvent('add')"></i>
            </div>
            <div *ngIf="hasExportRoles()" style="padding: 25px 10px;cursor: pointer;">
                <i class="fa fa-external-link-square" title="Export" aria-hidden="true" (click)="popupEvent('export')"></i>
            </div>
            <div *ngIf="hasImportRoles()" style="padding: 25px 10px;cursor: pointer;">
                <i class="fa fa-cloud-upload" title="Import" aria-hidden="true" (click)="popupEvent('import')"></i>
            </div>
        </div>
    </div>
        <!-- <app-filter *ngIf="selectedAction == 'filter'" [showAction]="enableFilter" (cancelEmit)="onCancel()" (filterApply)="fetchDocuments()"></app-filter>
        <app-import *ngIf="selectedAction == 'import'" [showAction]="enableFilter" (cancelEmit)="onCancel()"></app-import>
        <app-export *ngIf="selectedAction == 'export'" [showAction]="enableFilter" (cancelEmit)="onCancel()"></app-export>
        <app-add-comp *ngIf="selectedAction == 'add'" [primaryButtonName]="primaryButton" [addModalTitle]="addTitle" [showAction]="enableFilter" (cancelEmit)="onCancel()"></app-add-comp> -->
</div>
<hr style="margin-bottom: 0em;">
